body{
  background-color: #E5E5E5;
  height: 100vh;
}

aside{
  background-color: white;
  float: right;
  height: 97vh;
  width: 400px;
  left: 1000px;
  top: 40px;
  border-radius: 32px;
}


.texto{
  /* Ingrese el texto aqui */


  position: absolute;
  width: 577px;
  height: 48px;
  left: 240px;
  top: 168px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  background-color: #E5E5E5;
  border: none;
  /* Dark blue/dark-blue-300 */
height: 288px;
width: 680px;
left: 240px;
top: 168px;
border-radius: nullpx;
  color: #0A3871;
}


.botones{
  position: absolute;
  bottom: 10vh;
  display: inline-flex;
  left: 210px;
}


.encriptar{
  /* Button */


  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 328px;
  height: 67px;
  left: 0px;
  top: 0px;

  /* Dark blue/dark-blue-300 */

  background: #0A3871;
  border-radius: 24px;
  border: none;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;

}

.encriptar p{
  /* Button */


  position: static;
  width: 280px;
  height: 19px;
  left: 24px;
  top: 24px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  /* White */

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 8px;
}

.encriptar:hover{
  cursor: pointer;
  background: #052853;
}
.desencriptar:hover {
  cursor: pointer;

}
.desencriptar{
  /* Button */


  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 328px;
  height: 67px;
  left: 352px;
  top: 0px;

  /* Light gray */

  background: #D8DFE8;
  /* Dark blue/dark-blue-300 */

  border: 1px solid #0A3871;
  border-radius: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;
}

.desencriptar p{
  /* Button */


  position: static;
  width: 280px;
  height: 19px;
  left: 24px;
  top: 24px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  /* Dark blue/dark-blue-300 */

  color: #0A3871;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 8px;
}

.nav{
  /* Vector */


  position: absolute;
  left: 10.67%;
  right: 37.43%;
  top: 2%;
  bottom: 0%;

}

.dibujo{
  /* Muñeco */


  position: absolute;
  width: 336px;
  height: 304px;
  left: 75%;
  top: 283px;
}